.bird-wrapper{

  &.active{
    color: red;
  }

  figure{
    position: relative;
    width: 100%;
    margin: 0;
    //mobile 
    height: auto;
    //sm
    @media screen and (min-width: $sm){

    }
    //md 
    @media screen and (min-width: $sm){

    }
    //lg 
    @media screen and (min-width: $sm){

    }

  }

  img{
    width: 100%;
    height: auto;
  }

  figcaption{
    position: absolute;
    bottom: 0;
    width:100%;
    left: 0;
    box-sizing: border-box;
    padding: 0.5rem;

  }
}

