.bird-wrapper{
  backgroud: yellow;

  figure{
    position: relative;
    width: 100%;
    margin: 0;
  }

  img{
    width: 100%;
    height: auto;
  }

  figcaption{
    position: absolute;
    bottom: 0;
    width:100%;
    left: 0;
    box-sizing: border-box;
    padding: 0.5rem;

  }
}

body{
  backgroud: red;
}
