$sm: 40em;
$md: 52em;
$lg: 64em;
$delay: 1s;
$dark: #212121;
$grey: #9d9d9d;
$darker: #263238;
$red: #ef5350;
$red-lighter: lighten($red, 10%);
$light: #bdc3c7;



@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

//Vertical align 
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//Img styles
  img.loaded{
    width: 100%;
    height: auto;
    @include transition(all, 1s);
  }

  img.loading{
    opacity: 0;
    width: 100%;
  }

  img.loaded{
    opacity: 1;
  }
