header{
  background-image: url("./../bg-mobile.jpg");
  background-size: cover;
  position: relative;
  h1{
    margin: 0;
    padding: 40vh 0.5em;
  }

  .tilt{
    display: none;
  }

  @media screen and (min-width: $sm){
    .tilt{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .tilt-inner{
      width: 100%;
      height: 100%;
      background-image: url("./../bg.jpg");
      background-size: cover;
    }
  }
}
