body{
  background: #212121;
  header{
    height: 100vh;
  }

  // &.ready{
  //   header{
  //     height: 2em;
  //   }
  // }
}

#content{
  min-height: 100vh;
}

.fix{
  overflow-y: hidden;
  padding-right: 1em;
}

.all-birds-wrapper{
  max-width: 30em;
  margin: 0 auto;
}

