body{
  background: #212121;
  overflow-x: hidden;
  background-image: url("./../pattern.png");
  &.front{
    overflow: hidden;
    height: 100vh;
    #main{
      display: none;
    }
  }
}

#content{
  min-height: 100vh;
}

.fix{
  overflow-y: hidden;
  padding-right: 0;
  @media screen and (min-width: $sm){
    padding-right: 1em;
  }
}

.all-birds-wrapper{
  max-width: 30em;
  margin: 0 auto;
}

