body{
  background: #212121;
  overflow-x: hidden;
  // header{
  //   max-height: 2em;
  //   @include transition(all, 2s);
  // }
  &.front{
    overflow: hidden;
    max-height: 100vh;
    header{
    height: 100vh;
    overflow: hidden;
    }
  }
  

  // &.ready{
  //   header{
  //     height: 2em;
  //   }
  // }
}

#content{
  min-height: 100vh;
}

.fix{
  overflow-y: hidden;
  padding-right: 1em;
}

.all-birds-wrapper{
  max-width: 30em;
  margin: 0 auto;
}

