//Sizes 
.bird-wrapper{
  figure{
    position: relative;
    width: 100%;
    margin: 0;
    //mobile 
    height: auto;
    //sm
    @media screen and (min-width: $sm){
      height: calc((100vw - 15px - 6em) * 0.2083 );
      
    }
    // md 
    @media screen and (min-width: $md){
      height: calc((100vw - 15px - 6em) * 0.2083 );
      max-height: 197px;
    }
    // //lg 
    // @media screen and (min-width: $lg){
    // }
    }
  }

%fade{
  opacity: 0;
    &.active{
      opacity: 1;
    }
  figcaption{
    display: none;
  }
}

//State 
.bird-wrapper{
  overflow: hidden;
  @include transition(all, 0.1s);
  &.active{
      //border-radius: 0;
    }
   
  .opening &{
    @extend %fade;
    &.active{
      @include transition(all, $delay);
      @include scale(2);
      opacity: 0.1;
    }
  }
  .open &{
    @extend %fade;
      &.active{
      opacity: 0;
      @include scale(2);
    }
  }

  .closing &{
    @extend %fade;
    &.active{
      opacity: 0.2;
      @include scale(2);
    }
  }
  .closed &{
    &.active{
      opacity: 1;
      @include scale(1);
    }
  }
}


