//Sizes 
.bird-wrapper{
  figure{
    position: relative;
    width: 100%;
    margin: 0;
    background: url("./../ring.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc((100vw - 2em)*0.625);
    max-height: 18.125em;
    background-color: lighten($dark, 10%);
    cursor: pointer;

    img{
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
      @include transition(all, 0.1s);
      &:hover, &:focus{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        }
      }
    }
    .figcaption{
      color: $grey;
    }
  }

%fade{
  opacity: 0;
    &.active{
      opacity: 1;
    }
  .figcaption{
    opacity: 0;
  }
}

//State 
.bird-wrapper{
  overflow: hidden;
  @include transition(all, 0.5s);
  &.active{
      @include transition(all, $delay);
      @include scale(1);
    }
   
  .opening &{
    @extend %fade;
    &.active{
      @include scale(0);
      //opacity: 0.1;
    }
  }
  .open &{
    @extend %fade;
      &.active{
      //opacity: 0;
      @include scale(0);
    }
  }

  .closing &{
    @extend %fade;
    &.active{
      //@include transition(all, 5s);
      @include scale(1);
    }
  }
  .closed &{
    &.active{
    }
  }
}


